# Divers of Churn

###  Goals: To find drivers of churn.

Why?

To help idenitfy and potentialy retain profitable customers that might potentialy leave Telco as thier communcaitions service provider.

Acquire Data

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import os
 
from scipy import stats
    
    
import acquire
import prepare

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

## Acquire 
 - Get data from Codeup DS Database Server 
 - Each row represents a customer
 - Each columns represents a feature of a customer

## Prepare 
 - Remove SQL joiner columns
 - ADD
 - ADD
 - ADD

## Data Dictionary
 - Gender is this
 - Senior citizen means that

In [2]:
# acquire, cleaning, and adding features to data
df = prepare.prep_telco(acquire.get_telco_data())
# splitting data into train, validate, and test
train, evaluate, test = prepare.split_data(df, 'churn')

train: 4225 (60.0% of 7043)
validate: 1409 (20.0% of 7043)
test: 1409 (20.0% of 7043)

## First Looks

In [3]:
train.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service_type,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,total_add_on_count
customer_id,,,,,,,,,,,,,,
4083-BFNYK,Female,Yes,Yes,No,38,Multiple lines,No,95.00,3591.25,No,One year,Fiber optic,Credit card (automatic),3
5804-LEPIM,Female,Yes,No,No,2,Single line,Yes,70.35,139.05,Yes,Month-to-month,Fiber optic,Electronic check,0
4895-TMWIR,Male,Yes,Yes,No,11,Single line,No,19.95,214.75,Yes,Month-to-month,No internet service,Mailed check,No internet service
1342-JPNKI,Male,No,No,No,10,Multiple lines,Yes,86.05,834.10,Yes,Month-to-month,Fiber optic,Bank transfer (automatic),1
3397-AVTKU,Male,No,No,No,43,Single line,Yes,60.00,2548.55,No,Two year,DSL,Electronic check,2

In [ ]:
(do not present content that is not goingt to be in your presentation.)

Percent of customers who churn

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

# Assuming you have a DataFrame with a 'churn' column (0 for no churn, 1 for churn)
data = {'churn': [0, 1, 1, 0, 0, 1, 0, 1, 0, 0]}
df = pd.DataFrame(data)

# Count the number of customers who have churned and those who haven't
churn_counts = df['churn'].value_counts()

# Plot a pie chart
labels = ['Not Churned', 'Churned']
colors = ['lightblue', 'lightcoral']

plt.pie(churn_counts, labels=labels, colors=colors, autopct='%1.1f%%', startangle=90)
plt.title('Distribution of Churned vs Not Churned Customers')
plt.show()

You have to use markdown cell to go over the steps you took to prepare the data and why you made the decsions you made

Data Preparation:
    Data types changed:
        I changed the data type for Total Charges because it was non-numerical.
        Also, the 
    Data null values:
        I changed null values in total charges to zero. why? give deicsions and reasons. was this done before or after you split. 
        I changed the null values in internet service type to "No internet service" so it can match the rest of the columns that have no internet service. if you look at the values in the other columns where it says no internet service is the same place where internet service type is null.